<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav">
            <div class="search-container">
                <input type="text" placeholder="Search for student" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <p>filter by Usage:</p>

            <div class="btn">
                <button class="button">LOW(<15 Min)</button> <button class="button">MEDIUM(15-45 Mins)</button>
                <button class="button">HIGH(>45 Min)</button></div>

        </div>
    </header>

    <section style="background-color: #e9e9e9">

        <table >
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Login Time</th>
                    <th>Stars</th>
                    <th>Accuracy</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let students of students">
                    <td>{{students.name}}</td>
                    <td>{{students.progress}}</td>
                    <td>{{students.star}}</td>
                    <td>{{students.accuracy}}</td>
                    <td>
                        <!-- <table>
                            <tbody>
                                <tr>
                                    <div>
                                        <a>{{students.action[0]}}</a>
                                        <a>{{students.action[1]}}</a>
                                        <a>{{students.action[2]}}</a>
                                    </div>
                                </tr>

                            </tbody>
                        </table> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>